<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<main>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    </div>
</main>

<div class = "container">
    <div class = "row">
        <div class = "col-sm-12">
            <form th:object="${board}" method = "post">
                <div class = "form-group">
                    <label th:for="title" th:text="#{board.title}"></label>
                    <input type="text" class = "form-control" id = "title" name = "title">
                </div>
                <div class = "form-group">
                    <label th:for="writer" th:text="#{board.writer}"></label>
                    <input type="text" class = "form-control" id = "writer" name = "writer">
                </div>
                <div class = "form-group">
                    <label th:for="content" th:text="#{board.content}"></label>
                    <textarea class = "form-control" id = "content" name = "content"></textarea>
                </div>
                <button type = "submit" class="btn btn-primary" th:text="#{button.write}"></button>
            </form>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>