<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<main>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    </div>
</main>

<div  class="col-auto float-end">
    <form th:action="@{'/boardSearch'}" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button>검색하기</button>
    </form>
</div>


<div class = "container">
    <table class="table">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{/boardContent/{id} (id=${board.id})}"><span th:text="${board.title}"></span></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="${board.view}"></td>
        </tr>
        </tbody>
    </table>

    <a href="#" th:href="@{/boardForm}" class="btn btn-primary" role="button">글쓰기</a>

</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>